*{
    margin: 0 ;
    padding: 0;
}

.title{
    margin:50px 140px 0 140px;
    /* text-align: center; */
    background: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height:80%;
    width:80%;
    border-radius: 16px;
    background: linear-gradient(180 deg,#070211 0%, rgba(7,2,17,0.00)100%);
  
}

.h3-title{
    color: #fff;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    padding-top: 150px;
}

.h1-title{
    color: #fff;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    width: 600px;
    padding-left: 230px;
}